@page
@model WebApplication1.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
@if (Model.StatusMessage != null)
{
    <div class="alert alert-success" role="alert">
        @Model.StatusMessage
    </div>
}
